* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans';
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    width: 100%;
    align-items: center;
    background-color: #6E4A7E;
}

.logo img {
    height: 50px; /* Ajusta el tamaño del logo */
    margin-left: 10px;
}

.buttons-home{
    background-color: #4CAF50; /* Verde */
    border: none;
    color: #f5f5f5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.buttons-home:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}

/*Opciones para el menu de navegacion superior*/
.menu-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-right: 20px;
}

.menu-icon {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #2E2E2E;
    text-decoration: none;
    font-size: 20px;
}

/*Seccion 0*/
.section0 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

/*Seccion 1*/
.section1 {
    background-color: #A8DADC;
    padding: 30px;
}

.section1 h2{
    font-size: 2.5rem;
    color: #2E2E2E;
}

.section2{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 30px;
}


.section2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.section2-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.section2-text{
    flex: 1;
    font-size: larger;
    color: #2E2E2E;
}

/*Seccion 3*/
.section3 {
    background-color: #A8DADC;
    padding: 30px;
}

.section3-text{
    font-size: larger;
    color: #2E2E2E;
    padding: 20px;
}

/*Seccion 4*/
.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 30px;
}

.section4 h2 {
    font-size: 2.5rem;
    padding: 10px;
    color: #2E2E2E;
}

/*Carrusel*/
.carrusel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    font-size: larger;
}

.slide h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #2E2E2E;
}

.section4-price {
    font-size: 30px;
    color: #2E2E2E;
}

.section4-text {
    margin: 0;
    font-size: 16px;
    margin-top: 20px;
    color: #2E2E2E;
}

/* Botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: #45a049;
}

/*Seccion 5*/
.section5 {
    background-color: #A8DADC;
    padding: 30px;
    font-size: larger;
    color: #2E2E2E;
}

.section5-text {
    padding: 20px;
}

/*Seccion 6*/
.section6 {
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 30px;
    font-size: larger;
}

.section6 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 10px;
}

.section6 textarea {
    resize: none;
}

.section6 input[type="text"],
    .section6 input[type="email"],
    .section6 textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    }

footer {
    background-color: #6E4A7E;
    text-align: center;
    padding: 20px;
    color: #f5f5f5;
}

.menu-container-bottom {
    padding: 10px;
}

.menu-list-bottom {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu-list-bottom li {
    margin: 0 5px;
}

.menu-list-bottom a {
    text-decoration: none;
    font-size: 15px;
    color: #f5f5f5;
}

.social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    color: #f5f5f5;
    font-size: 15px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #8A5A9B;
}

/*Version Computador*/
@media screen and (min-width: 1024px){
    body {
        display: grid;
        grid-template-columns: 250px 1fr; /* Columna izquierda fija y columna derecha flexible */
        height: 100vh; /* Ocupa toda la altura de la pantalla */
    }
      
    header {
        position: sticky; /* Fija el header en la parte izquierda */
        top: 0; /* Lo mantiene en la parte superior */
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        box-sizing: border-box; /* Incluye el padding en la altura */
        display: flex;
        flex-direction: column; /* Organiza los elementos en columna */
        justify-content: center; /* Centra los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .menu-container-top {
        width: 100%; /* Ocupa todo el ancho disponible */
        display: flex;
        justify-content: center; /* Centra el menú horizontalmente */
    }
    
    .menu {
        display: flex;
        flex-direction: column; /* Menú vertical */
        align-items: center; /* Centra los elementos del menú */
        text-align: center;
    }

    .menu li {
        margin: 10px 0; /* Espacio entre elementos del menú */
    }
    
    .menu a {
        color: #F5F5F5;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    }

    .content {
        overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura */
    }
    
    main {
        overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura */
        text-align: center;
    }

    .section2-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
        align-items: center; /* Alinea los elementos en la parte superior */
        gap: 30px; /* Espacio entre los elementos */
        padding: 20px;
    }
    
    .section2-container picture{
        flex: 1; /* La imagen ocupa una parte del espacio disponible */
        max-width: 75%; /* Limita el ancho de la imagen */
    }

    
    .section2-text {
        flex: 1; /* El texto ocupa una parte del espacio disponible */
        max-width: 100%; /* Limita el ancho del texto */
    }

    footer {
        padding: 20px;
        text-align: center;
        background-color: #8A5A9B;
    }
    
}

/*Version Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    main {
        text-align: center;
        margin-top: 60px;
    }
    
    .menu a {
        color: #f5f5f5;
        text-decoration: none;
        font-size: 20px;
    }

    .section2-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
        align-items: center; /* Alinea los elementos en la parte superior */
        gap: 30px; /* Espacio entre los elementos */
        padding: 20px;
    }
    
    .section2-container picture{
        flex: 1; /* La imagen ocupa una parte del espacio disponible */
        max-width: 75%; /* Limita el ancho de la imagen */
    }

    
    .section2-text {
        flex: 1; /* El texto ocupa una parte del espacio disponible */
        max-width: 100%; /* Limita el ancho del texto */
    }

    

}

/*Version Movil*/
@media screen and (max-width: 767px){
    body {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    main {
        text-align: center;
        margin-top: 60px;
    }

    /*Opciones para el menu de navegacion superior Version Movil*/
    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #A8DADC;
        position: absolute;
        top: 75px;
        left: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: translateY(-10px);
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .section2-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 10px;
    }

    .carrusel {
        width: 90%;
    }

    .slide h3 {
        font-size: 20px;
    }

    .slide p {
        font-size: 14px;
    }

    .prev, .next {
        padding: 8px;
        font-size: 16px;
    }

}